html { scroll-behavior: smooth }
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

* a {
    color: inherit;
    text-decoration: none;
}

* input {
   outline: none;
   border: none;
}

body {
    /* background-color: #63767c; */
}

/* TEXT STYLES ----------------------------------------------------------------------------------- */
.text---title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.text---sub-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.text---sub {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.card---title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.card---sub {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

/* NAV BAR ----------------------------------------------------------------------------------- */

.nav__container {
    width: 100%;
    height: 125px;

    display: flex;
    justify-content: center;
}

.nav__content {
    width: 95%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    width: 100px;
    align-self: flex-end;
    margin-bottom: 25px;
}

.nav__logo img { width: 100% }

.nav__items {
    display: flex;
    justify-content: space-between;
    width: 20%;
    height: 100%;
}

.nav__item {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    
    transition: .5s all ease;
    padding: 20px;

    position: relative;
}

.nav__item::after { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 0;
    background: #0065FC;

    transition: .2s all ease;
}

.nav__item:hover::after { height: 2px }

.nav__item:hover { color: #0065FC }

.nav__item a {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* LODGING  ----------------------------------------------------------------------------------- */
.lodging__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.lodging__content {
    width: 95%;
    height: 100%;
}

/* MARGINS ----------------------------------------------------------------------------------- */ 

.lodging__search h1:first-child { margin-bottom: 5px }

.lodging__search .button---search {
    margin-top: 20px;
    margin-bottom: 30px;
}

.lodging__filter { margin-bottom: 40px }

.lodging---info { margin-bottom: 40px }


/* SEARCH -----------------------------------------------------------------------------------*/
.button---search {
    display: flex;
    align-items: center;
}

.button---search i:first-child {
    padding: 15px 18px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    margin-right: -15px;
    z-index: 1;
}

.input-text {
    font-weight: 700;
    font-size: 18px;
    
    padding: 0 30px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}

.input-search {
    font-weight: 700;
    font-size: 18px;

    padding: 12px 16px 13px 16px;
    color: white;
    background: #0065FC;
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;

    margin-left: -15px;
    cursor: pointer;

    transition: all .5s ease;
}

.search---icon {
    display: flex;
    align-items: center;
    position: relative;
    
    margin-left: -15px;
    cursor: pointer;

   display: none;
}

.search---icon input {
    padding: 13px 16px;
    width: 47px;
    height: 49px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.search---icon i {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.lodging__filter {
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;

}

.filter__items {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.filter__item {
    display: flex;;
    align-items: center;

    border: 2px solid #D9D9D9;
    border-left: 2px solid transparent;
    border-radius: 25px;

    position: relative;

    cursor: pointer;
    transition: .5s ease all;
}

.filter__item:hover { border: 2px solid #D9D9D9 }

.filter__item::after {
    content: '';
    position: absolute;
    left: 8px;
    top: 0;
    z-index: -1;
    width: 0;
    height: 40px;
    background: #DEEBFF;
    border-radius: 25px;
    transition: .5s ease all;
}

.filter__item:hover::after { width: calc(100% - 8px) }

.filter__item:hover i {
    width: 42px;
    height: 42px;
    left: 0;
}

.filter__item i {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 43px;
    height: 43px;

    left: -5px;
    transition: .5s ease all;
    background: #DEEBFF;
    border-radius: 50%;
    color: #0065FC;
}

.filter---text {
    font-weight: 700;
    font-size: 17px;
    padding: 10px 20px 10px 55px;
}

.lodging---info {
    display: flex;
    align-items: center;
}

.lodging---info i {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;

    color: #0065FC;
    margin-right: 10px;
}

/* LODGING HOTELS ---------------------------------------------------------------------------- */

.lodging__hotels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 626px;
}

.lodging---marseille {
    display: flex;
    flex-direction: column;
    
    width: 60%;
    
    background: #F2F2F2;
    border-radius: 20px;
    padding: 42px 50px 43px 50px;
}

.lodging---marseille h1 { margin-bottom: 23px }

.hotels__cards {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.hotel__card {
    width: 100%;
    height: 199px;
    
    display: flex;
    flex-direction: column;

    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    background: #FFFFFF;

    transition: .5s ease all;
}

.hotel__card img {
    align-self: center;
    width: 276px;
    height: 124px;
    object-fit: cover;

    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
   

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.card__info {
    margin-top: 4px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 90%;
    height: 60px;
}

.card---stars i { color: #0065FC }

.card---stars i:last-child { color: #F2F2F2 }

.show-more { 
    cursor: pointer;
    width: fit-content
}

.lodging---most-popular {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30%;
    
    background: #F2F2F2;
    border-radius: 20px;
    padding: 41px 40px 34px 40px;
}

.most-pop---title {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}

.most-pop---title i { color:#0065FC}

.most-pop__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.most-pop__card {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.most-pop__card img {
    width: 167px;
    height: 154px;
    object-fit: cover;

    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
   

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.card__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 40px;
}

.most-pop-card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 85%;

    padding: 10px;
    margin-left: 10px;
}