html { scroll-behavior: smooth }
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

* img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

* a {
    color: inherit;
    text-decoration: none;
}

* input {
   outline: none;
   border: none;
}

/* TEXT STYLES -------------------------------------------------------- */
.text--title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.text--sub-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.text--sub {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.card--title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.card--sub {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

/* NAV BAR -------------------------------------------------------- */

.nav__container {
    width: 100%;
    height: 125px;

    display: flex;
    justify-content: center;
}

.nav__content {
    width: 95%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    width: 100px;
    align-self: flex-end;
    margin-bottom: 25px;
}

.nav__logo img { width: 100% }

.nav__items {
    display: flex;
    justify-content: space-between;
    width: 25%;
    height: 100%;
}

.nav__item {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    
    transition: .5s all ease;
    padding: 20px;

    position: relative;
}

.nav__item::after { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 0;
    background: #0065FC;

    transition: .2s all ease;
}

.nav__item:hover::after { height: 2px }

.nav__item:hover { color: #0065FC }

.nav__item a {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* LODGING  -------------------------------------------------------- */
.lodging__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.lodging__content {
    width: 95%;
    height: 100%;
}

/* MARGINS -------------------------------------------------------- */ 

.lodging__search h1:first-child { margin-bottom: 5px }

.lodging__search .button--search {
    margin-top: 20px;
    margin-bottom: 30px;
}

.lodging__filter { margin-bottom: 40px }

.lodging--info { margin-bottom: 40px }


/* SEARCH --------------------------------------------------------*/
.button--search {
    display: flex;
    align-items: center;
}

.button--search i:first-child {
    padding: 15px 18px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    margin-right: -15px;
    z-index: 1;
}

.input-text {
    font-weight: 700;
    font-size: 18px;
    
    padding: 0 30px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}

.input-search {
    font-weight: 700;
    font-size: 18px;

    padding: 12px 16px 13px 16px;
    color: white;
    background: #0065FC;
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;

    margin-left: -15px;
    cursor: pointer;

    transition: all .5s ease;
}

.search--icon {
    display: flex;
    align-items: center;
    position: relative;
    
    margin-left: -15px;
    cursor: pointer;

   display: none;
}

.search--icon input {
    padding: 13px 16px;
    width: 47px;
    height: 48px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.search--icon i {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.lodging__filter {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;

}

.filter__items {
    display: flex;
    width: 92%;
    justify-content: space-between;
}

.filter__item {
    display: flex;;
    align-items: center;

    border: 2px solid #D9D9D9;
    border-left: 2px solid transparent;
    border-radius: 25px;

    position: relative;

    cursor: pointer;
    transition: .5s ease all;
}

.filter__item:hover { border: 2px solid #D9D9D9 }

.filter__item::after {
    content: '';
    position: absolute;
    left: 8px;
    top: 0;
    z-index: -1;
    width: 0;
    height: 40px;
    background: #DEEBFF;
    border-radius: 25px;
    transition: .5s ease all;
}

.filter__item:hover::after { width: calc(100% - 8px) }

.filter__item:hover i {
    width: 42px;
    height: 42px;
    left: 0;
}

.filter__item i {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 43px;
    height: 43px;

    left: -5px;
    transition: .5s ease all;
    background: #DEEBFF;
    border-radius: 50%;
    color: #0065FC;
}

.filter--text {
    font-weight: 700;
    font-size: 17px;
    padding: 10px 20px 10px 55px;
    transition: .5s ease all;
}

.lodging--info {
    display: flex;
    align-items: center;
}

.lodging--info i {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;

    color: #0065FC;
    margin-right: 10px;
}

/* LODGING HOTELS --------------------------------------------------- */

.lodging__hotels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 626px;

    margin-bottom: 60px;
}

.lodging--marseille {
    display: flex;
    flex-direction: column;
    
    width: 65%;
    
    background: #F2F2F2;
    border-radius: 20px;
    padding: 42px 40px 43px 40px;
}

.lodging--marseille h1 { margin-bottom: 23px }

.hotels__cards {
    align-self: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.hotel__card {
    width: 30%;
    height: 199px;
    
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    background: #FFFFFF;

    transition: .5s ease all;
}

.hotel__card a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hotel__card a img {
    align-self: center;
    width: 100%;
    height: 100%;
    max-height: 124px;
    object-fit: cover;

    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
   

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.card__info {
    margin-top: 4px;
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 90%;
    height: 60px;
}

.card--stars i { color: #0065FC }

.card--stars i:last-child { color: #F2F2F2 }

.show-more { 
    cursor: pointer;
    width: fit-content
}

.lodging--most-popular {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 33%;
    
    background: #F2F2F2;
    border-radius: 20px;
    padding: 41px 25px 30px 40px;
}

.most-pop--title {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}

.most-pop--title i { color:#0065FC}

.most-pop__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.most-pop__card {
    width: 100%;
    height: 30%;
    background: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.most-pop__card a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.most-pop__card img {
    width: 50%;
    height: 100%;
    min-width: 90px;
    object-fit: cover;

    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

.card__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 40px;
}

.most-pop-card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 85%;

    padding: 10px;
    margin-left: 10px;
}

/* ACTIVITIES  --------------------------------------------------- */
.activities--marseille { margin-bottom: 61px }
.activities--marseille h1:first-child { margin-bottom: 19px }

.activities__cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.activities__card {
    width: 20%;    
    display: flex;
    flex-direction: column;

    background: #FFFFFF;
    border-radius: 20px;

    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activities__card a {
    width: 100%;
    height: 100%;
}

.activities__card img {
    width: 100%;
    height: 499px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.activities-card__info {
    display: flex;
    align-items: center;
    height: 56px;
    border-radius: 0px 0px 20px 20px;

    margin-left: 19px;    
}

.act-card--title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

/* FOOTER --------------------------------------------------- */
.footer__container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 225px;
    background: #F2F2F2;
}

.footer__content {
    display: flex;
    width: 90%;
    align-items: center;
    
}

.footer__items {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.footer__item {
    display: flex;
    flex-direction: column;
}

.footer__item .text--sub-title { margin-bottom: 20px }

.footer__item .text--sub { margin-bottom: 12px }

.footer__item .text--sub:last-child { margin-bottom: 0}

/* MEDIA --------------------------------------------------- */

@media (max-width: 992px) {
    .nav__items { width: 35% }
    .lodging__filter { width: 100% }
    .filter--text { padding: 10px 12px 10px 42px }

    .lodging__hotels {
        flex-direction: column;
        height: 100%;
    }

    .lodging--marseille { 
        width: 100%;
        margin-bottom: 53px;
        height: 626px
    }

    .lodging--most-popular { 
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
    }

    .most-pop__cards {
        width: 100%;
        flex-direction: row;
    }

    .most-pop__card { 
        width: 32%;
        height: auto;
    }

    .most-pop__card img { min-width: 95px }
    .most-pop-card__info { padding: 0 }

    .activities__card img { height: 267px }

}

@media (max-width: 768px) {
    .nav__container { margin-bottom: 31px }
    .nav__content {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    .nav__logo { 
        margin-bottom: 0;
        align-self: center 
    }

    .nav__item::after {
        background: #F2F2F2;
        top: unset;
        bottom: 0;
        height: 3px;
    }

    .nav__item:hover::after { 
        background: #0065FC;
        height: 3px
    }

    .nav__items { width: 100% }

    .lodging__content { width: 100% }

    .lodging__form { padding: 0 20px }

    .input-search { display: none }
    .search--icon { display: flex }
    .button--search {
        justify-content: center;
    }
    .filter--text { font-size: 11px }
    .lodging__hotels { 
        margin-bottom: 0;
        flex-direction: column-reverse
     }
    .lodging__form {
        display: flex;
        flex-direction: column;
    }
    .button--search { justify-self: center }

    .lodging__filter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .lodging__filter .text--sub-title { margin-bottom: 15px }

    .filter__items {
        width: 100%;
        flex-wrap: wrap;
    }
    .filter__item {
        width: 48%;
        height: 50px;
        margin-bottom: 17px
    }

    .filter__item::after { height: 48px }
    
    .filter__item:hover::after { width: calc(100% - 7px) }
    
    .filter__item:hover i {
        width: 50px;
        height: 48px;
        left: 0;
    }

    .filter__item:nth-child(3), .filter__item:nth-child(4) { margin-bottom: 0 }
    .filter--text { padding-left: 52px }
    .filter__item i {
        width: 50px;
        height: 50px;
        font-size: 16px 
    }

    .lodging--marseille { 
        width: 100%;
        height: 100%;
        padding: 28px 20px 47px 20px;
        background: white
    }
    .lodging--marseille h1 { margin-bottom: 19px }

    .hotels__cards {
        width: 100%;
        height: 100%;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
    }

    .hotel__card {
        width: 100%;
        margin-bottom: 12px;
    }
    .hotel__card:last-child { margin-bottom: 0 }
    .show-more { display: none }

    .lodging--most-popular {
        padding: 28px 20px 47px 20px;
        border-radius: 0;
    }
    .most-pop__cards {
        width: 100%;
        height: 100%;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
    }
    .most-pop__card {
        width: 100%;
        margin-bottom: 12px;
    }

    .most-pop__card img {
        width: 100%;
        max-width: 185px;
        max-height: 147px;
    }

    .card__details { 
        height: 60px; 
        justify-content: flex-start 
    }
    .activities--marseille {
        padding: 0 20px 47px 20px;
    }
    .activities__cards { 
        justify-content: flex-start;
        flex-direction: column
    }
    .activities__card {
        width: 100%;
        margin-bottom: 24px
    }
    .activities__card:last-child { margin-bottom: 0 }
    .activities__card img {
        height: 156px
    }
    .footer__container { height: 100% }
    .footer__content { 
        align-items: flex-start;
        padding: 45px 30px;
        width: 100%
    }

    .footer__items {
        flex-direction: column;
    }
    .footer__item { margin-bottom: 40px }
    .footer__item:last-child { margin-bottom: 0px }
}